@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

header {
    background: #6b2222;
    color: papayawhip;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: wheat;
    text-decoration: khaki;
}

.section {
    padding: 20px;
    margin: 20px;
    background-image: url(../images/white.jpg);
    border-radius: 10px;
    box-shadow: 0px ;
    
}

.tour-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tour-card {
    background: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px ;
    width: 250px;
}

.tour-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

button {
    background: purple;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: burlywood;
}

.hidden {
    display: none;
}
#add-tour{
    background: hsl(347, 87%, 46%);
    color: papayawhip;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px ;
    
}
#add-tour:hover{
    background: purple;
}